[Desktop Entry]
Name=BasiliskII
Comment=Macintosh emulator
Comment[pl]=Emulator komputera Macintosh
Exec=/usr/bin/BasiliskII
Icon=AppleX
Terminal=false
Type=Application
Categories=Utility;Emulator;
# vi: encoding=utf-8
